body{
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    text-align: center;
}

/*greater than or equal to 951px, then do {…}”*/
@media screen and (min-width: 951px) {
    
    .nav-icon{
        display: none;
    }
    .nav-text{
      display: flex;
      padding-top: 16px;
      align-items: center;
      height: 64px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 16px;
    }
    .nav-text a {
     text-decoration:  none;
      color: black;
      font-size: 28px;
    }
    .colmar{
      font-size: 36px;
    }
    #aca{
      color: gray;
      font-size: 32px;
    }
    .flex-container {
      display: flex;
      text-align: center;
      background-color: #d8d8d8;
      flex-direction: row ;
    
    }
    
    .flex-item-left {
      padding-top: 32px;
      padding-bottom: 32px;
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex: 50%;
    }
    
    .flex-item-right {
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 50%;
    }
    #start-button{
      text-align: center;
      width: 50%;
      background-color: gray;
      color: ivory ;
      font-size: 26px;
    }
    /*start part two*/
.container-part-two{
  display: flex;
  margin-top: 32px;
  margin-left: 32px;
}
/*part two left*/ 
.item-left-part-two{
  display: flex;
  flex-direction: column;
  flex: 60%;
  margin-right:24px;
}
.it-does-not{
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.cura{
  margin-left: 24px;
}
.ema{
  margin-left: 24px;
  margin-bottom: 32px;
}
/*part two right*/ 
.item-right-part-two{
  display: flex;
  flex: 40%;
  flex-direction: column ;
}
p{
  font-size: 20px;
}
/*part orientation*/
.item-orientation{
      display: flex;
      flex-direction: row; 
      padding-bottom: 24px;
    }
.orientation-text{
  padding-left: 24px;
}
.orientation-img img{
  width:300px; 
  height:250px;
  padding-left: 24px;
}
/*part our campus*/
.item-our-campus{
  display: flex;
  flex-direction: row; 
  padding-bottom: 24px;
}
.our-campus-text{
padding-left: 24px;
}
.our-campus-img img{
  width:300px; 
  height:250px;
  padding-left: 24px;
}
/*part our guest*/
.item-our-guest{
  display: flex;
  flex-direction: row;
  padding-top: 16px; 
  background-color: #d8d8d8;
}
.our-guest-text{
padding-left: 24px;
}
.our-guest-img img{
  width:300px; 
  height:250px;
  padding-left: 24px;
}
  }

  /*less than or equal to 950px, then do {…}”*/
@media (max-width: 950px) {
    .nav-text a{
        display: none;
      }
      .flex-container {
        display: flex;
        text-align: center;
        background-color: #d8d8d8;
        flex-direction: column ;
      }
      .logo{
        width:100%;
      }
      .flex-item-right{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        width: 100%;
        margin-bottom: 32px;
      }
      #start-button{
        text-align: center;
        width: 350px;
        background-color: gray;
        color: ivory ;
        font-size: 20px;
      }
      .item-left-part-two{
        display: none;
      }
      .item-right-part-two{
        padding-right: 16px;
        padding-left: 16px;
      }
      .orientation-img img{
        width:340px; 
        height:250px;
      }
      .our-campus-img img{
        width:340px; 
        height:250px;
      }
      .our-guest-img img{
        width:340px; 
        height:250px;
      }
  /* Style the links inside the navigation bar */

  .nav-icon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top:16px ;
    padding-bottom: 16px;
    height: 64px;
  }
  .item-orientation{
    display: flex;
    flex-direction: column;
  }
}
/*end navbar part*/


.be-it{
    display: flex;
    margin-top: 32px;
}
.start{
background-color:#d8d8d8 ;
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 72px;
padding-right: 72px;
}
.container thesis{
    display: flex;
    padding-top: 64px;
}
.h-thesis{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

}
.foo{
    display: flex;
}