.navbar {
  background-color: #87cefa;
}
@media only screen and (max-width: 900px) {
  .nav-text {
    display: none;
  }
}
.btn {
  background: #87cefa;
  color: black;
  width: 200px;
  height: 60px;
  font-size: 28px;
  margin-bottom: 30px;
}
body {
  font-family: "Abel", sans-serif;
  background-color: black;
}
h1 {
  color: #87cefa;
}
h2 {
  color: #87cefa;
  text-align: left;
}
h3 {
  color: white;
  font-size: 50px;
}
.heading-section {
  padding-top: 50px;
  padding-left: 50px;
}
.job-position {
  color: white;
  font-size: 40px;
}
h4 {
  color: white;
}
.line {
  border-top: 5px solid #87cefa;
  margin: 50px;
}
/* .img-fluid rounded-start education-img {
 align-items: center;
} */

.rounded-end {
  padding: 50px;
}
.container {
  margin-top: 100px;
}
.personal-statement {
  color: white;
  font-size: 30px;
  text-align: left;
}
.profile-bg {
  background-color: black;
}
.profile-img {
  padding: 50px;
}
.container-center {
  margin: 50px;
}
.education-img {
  height: 100%;
  width: 400px;
  padding: 50px;
}
.heading-education {
  font-size: 30px;
}
.education-bg {
  background-color: black;
  color: white;
  border: 5px dotted #87cefa;
  max-width: 100%;
}
.period-education {
  font-size: 25px;
  color: gray;
}
.content-education {
  font-size: 25px;
  color: white;
}
.pt-img {
  height: 50%;
}
.experience-card {
  max-width: 100%;
  background-color: black;
  padding: 50px;
}
.heading-experience {
  color: white;
  font-size: 30px;
}
.content-experience {
  color: white;
  font-size: 25px;
}
.certificate {
  background-color: #87cefa;
}
.experience-part {
  margin: 0;
}
/* .row row-cols-1 row-cols-md-3 g-4 {
  padding-left: 60px;
} */

.card {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}
#carouselExampleCaptions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
